
<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li class="{{ link.type }}"><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}><span>{{ link.title }}</span></a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}

{% if page.logo != true %}

{% else %}
<header class="masthead masthead__big">
	<div class="wrap">

			<div class="masthead__tagline">Introducing the IndieWeb</div>
			<svg class="masthead__logo" viewBox="0 0 70 30" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><title>IW</title><path d="M30.328 0L44.02 29.245l4.32-9.227L39.008 0h-8.68zM69.52 0H42.172l9 19.3 4.657 9.945L69.52 0z" fill="#ff5c00" fill-rule="nonzero"/><path fill="red" d="M0 0h27.314v7.645H0zm0 10.434h27.314V27.07H0z"/></svg>
			<p class="masthead__excerpt">{{ site.description }}</p>
	</div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>
