/* ==========================================================================
   Top navigation
   ========================================================================== */

.navigation-wrapper {
  text-align: center;
  @include clearfix;
  position: relative;
  z-index: 2;
  background-color: $td;

  ul {
    display: inline-block;
    //width: 100%;
    vertical-align: top;
    margin: 0;
    padding: 4px 20px;
    background-color: $td;

    @include media($medium) {
      width: auto;
      @include rounded(0 0 10px 10px);
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @include clearfix;
  }

  li {
    display: block;
    float: left;
    list-style: none;
    text-align: center;
    @include font-size(14,no);
    color: $white;
    font-weight: 600;

    @include media($medium) {
      @include font-size(18,no);
    }

    a:hover {
      // @include box-shadow($shadow: inset 0 0 1px $white);
      // color: $td;
    }

  }

  a {
    display: block;
    padding: 12px 10px;

    @include media($medium) {
      padding: 10px 15px;
    }

    color: $white;
    @include rounded(4px);

    &:hover, &:focus, &:active {
      color: #fff;
      border: none;
      text-decoration: underline;
    }
  }
}

/*
   Responsive navigation toggle
   ========================================================================== */

#site-nav {
  display: none;
  z-index: 5;

  @include media($medium) {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
  }

  &.closed {

    @include media($medium) {
      display: block;
    }
  }

  &.opened {
    display: block;
    max-height: 100%;

    li {
      float: none;

      @include media($medium) {
        float: left;
      }
    }
  }
}

/* display when JavaScript is disabled */
.no-js #site-nav {
  display: block;
}

#nav-toggle {
  z-index: 20;
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 6px 20px;
  background-color: $black;
  height: 44px;
  @include rounded(0);

  @include media($medium) {
    display: none;
  }
}

.articles-navigation {
  padding: 30px 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  li {
    width: 100%;
    flex:1 0 auto;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    @include media($medium) {
      flex: 1 0 50%;
      width: 50%;
      max-width: 50%;
    }

    div {
      padding: 10px;
    }

    h3 {
      margin-top: 0;
      margin-bottom: 10px;
      a {
        text-decoration: underline;
      }
    }

    p {
      margin-top: 0;
    }
  }
}

.takepart {
  background-color: $td;
  color: #FFF;
  padding: 50px 0;
  text-align: center;
  
  h2 {
    margin-top: 0;
  }

  a {
    color: #FFF;
    text-decoration: underline;
  }

  p {
    margin: 0;
  }
}
