<!doctype html>
<html lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="post">

{% include navigation.html %}

  <section id="main" role="main">

    <div class="post h-entry post-entry section-content" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="post-header">
        <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
        <!-- <p class="post-meta">
          <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
        </p> -->
      </header>

      <article class="post-content" itemprop="articleBody">
        {{ content }}
      </article>

      <nav class="pagination" role="navigation">
        {% if page.previous %}
          <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous</a>
        {% endif %}
        {% if page.next %}
          <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next</a>
        {% endif %}
      </nav><!-- /.pagination -->

    </div><!-- /.post -->

  </section><!-- /#main -->

  {% include take-part.html %}
  
  <div class="footer-wrapper">
    <footer role="contentinfo" class="entry-wrapper">
      {% include footer.html %}
    </footer>
  </div><!-- /.footer-wrapper -->


</body>
</html>
